<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utehy_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTEHY_app"
        android:usesCleartextTraffic="true">
        <activity android:name=".QuanTriAll.QuanTriAll_GuiThongBao"></activity>
        <activity android:name=".QuanTriAll.Activity_QLTK_ThemTK" />
        <activity android:name=".QuanTriAll.QuanLyTaiKhoan_Activity" />
        <activity android:name=".QuanTriAll.Activity_QuanTriALL" />
        <activity android:name=".CaiDatTaiKhoan.ThongTaiKhoanActivity" />
        <activity android:name=".CaiDatTaiKhoan.CaiDatTaiKhoanActivity" />
        <activity android:name=".GuiLichHoatDong.Activity_GuiLichHoatDong" />
        <activity android:name=".ThemMonHoc.Activity_ThemMonHoc" />
        <activity android:name=".TaoDiemDanh.Activity_TaoDiemDanh" />
        <activity android:name=".ThemTaiKhoan.Activity_ThemTaiKhoan" />
        <activity android:name=".GuiThongBao.Activity_GuiThongBao" />
        <activity android:name=".ThongBao.TatCaThongBao_Activity" />
        <activity android:name=".Eclass.Eclass_Activity" />
        <activity android:name=".ThongBao.ThongBaoActivity" />
        <activity android:name=".DiemDanh.CTDiemDanhActivity" />
        <activity android:name=".DiemDanh.DiemDanhActivity" />
        <activity android:name=".CongThongTin.CongThongTin_Activity" />
        <activity android:name=".HoatDong.HoatDong_Activity" />
        <activity android:name=".QuanTriVien.QuanTri_Activity" />
        <activity android:name=".BangTin.BangTinActivity" />
        <activity android:name=".ManHinhChinh.ManHinhChinhActivity" />
        <activity android:name=".DangNhap.Activity_DangNhap" />
        <activity android:name=".SuKien.LichHocActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>